<div class="left-pane">
  <ul class="list-group">
  <li class="list-group-header">
    <input class="form-control" type="text" placeholder="Search SMS">
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="res/img/icon.png" width="32" height="32">
    <div class="media-body">
      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
</ul>
</div>
<div>
  <ul class="list-group">
    <li class="list-group-header">
      <strong>List item title</strong>
    </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="res/img/icon.png" width="32" height="32">
    <div class="media-body">
      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="res/img/icon.png" width="32" height="32">
    <div class="media-body">
      <strong>List item title</strong>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </li>
  <li class="list-group-item">
    <input class="form-control" type="text" placeholder="Type your message">
  </li>
</ul>
</div>
