
  <ul class="list-group">
  <li class="list-group-header app-header">
    <input class="form-control" type="text" placeholder="Search SMS"
      style="width: 85%;">
    <button class="btn btn-large btn-default">
        <span class="icon icon-plus"></span>
      </button>
  </li>
  <li class="list-group-item">
    <img class="img-circle media-object pull-left" src="res/img/icon.png" width="32" height="32">
    <div class="media-body">
      <strong>James</strong>
      <p>Hello world!</p>
    </div>
  </li>
</ul>
