ul.main-menu{
  list-style: none;
  font-size: 2.5em;
  text-align: center;
  padding-left: 0;
  color: silver;
}

ul.main-menu > a{
  color: silver;
}

ul.main-menu > li:hover,
ul.main-menu > a:hover{
  color: white;
}

div.main-menu{
  background-color: #2c3e50;
}

.splash{
  padding-top: 100px;
  text-align: center;
}

.splash > img {
  width: 200px;
  height: 200px;
}

device, clipboard, sms, settings{
  width: 100%;
}

div.left-pane{
  float: left;
  height: 100%;
}

div.device{
  text-align: center;
  padding-top: 100px;
}

.app-header{
  -webkit-app-region: drag;
}

.app-title{
  padding: 16px;
}

header.app-header{
  -webkit-app-region: drag;
  width: 100%;
  padding:16px;
  border-bottom: thin solid #ddd;
}
